<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="form-user style-1 rounded has-shadow-1">
      <div class="form-header text-center">
        <h1 class="form-header-title">User info</h1>
      </div>
      <% if @user.errors.any? %>
    <div id="error_explanation">
      <h3><%= @user.errors.count %>error prohibited this obj from being saved:</h3>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <h3><%= message %></h3>
      <% end %>
      </ul>
    </div>
    <% end %>
      <%= form_for(@user) do |f| %>
        <table class="table">
      <div class="form-body">
          <div class="form-group has-icon">
            <thead>
        <tr>
          <tr><th><%= f.label :name, 'Name' %></th><th class="form-group has-icon">
            <%= f.text_field :name %></th></tr>
          <tr><th><%= f.label :profile_image, 'ProfileImage' %></th><th class="user-edit-image">
            <%= f.attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %></th></tr>
          <tr><th><%= f.label :introduction, 'Introduction' %></th><th><%= f.text_area :introduction %></th></tr>

            <td><%= f.submit "Update User", class:"btn btn-lg btn-block btn-base-1 mt-20" %></td>
          </tr>
            </thead>
          </table>
            <% end %>
          </div>

    </div>
  </div>
</div>

